
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h1 class="text-center mb-5">Personajes de Rick and Morty</h1>
    </div>
    <div class="col-12">
      <div class="row">
        <div class="col-md-4 mb-4" *ngFor="let personaje of personajes">
          <div class="card">
            <img class="card-img-top" [src]="personaje.Image" [alt]="personaje.Name">
            <div class="card-body">
              <h5 class="card-title">{{ personaje.Name }}</h5>
              <p class="card-text">
                <strong>Status:</strong> {{ personaje.Status }}<br>
                <strong>Especie:</strong> {{ personaje.Species }}<br>
                <strong>Género:</strong> {{ personaje.Gender }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
