.about {
  margin-top: 50px;
}

h2 {
  font-weight: bold;
  color: #007bff;
  margin-top: 20px;
}

p.lead {
  font-size: 20px;
  margin-top: 20px;
}

.list-group-item {
  font-size: 18px;
  border: none;
}

.list-group-item i {
  color: #007bff;
}
