
<div class="container about">
  <div class="row">
    <div class="col-md-4">
      <img src="../../../assets/img/Benja.png" alt="Foto" class="img-fluid rounded-circle">
    </div>
    <div class="col-md-8">
      <h2>Benjamin Cardozo</h2>
      <p class="lead">¡Hola! Soy Benjamin Cardozo, un apasionado de la tecnología y la programación. Tengo 22 años y actualmente estoy estudiando Ingeniería en Sistemas en la Universidad Tecnologica Nacional FRT.
      Además de mi carrera, me encanta tocar la guitarra, dibujar y jugar videojuegos. Me considero una persona creativa, curiosa y siempre buscando aprender cosas nuevas.
      En mi trayectoria como desarrollador web, he trabajado con una variedad de tecnologías. Me gusta mantenerme actualizado en las últimas tendencias y herramientas del mundo de la programación para poder aplicarlas en mis proyectos.
      Me apasiona el desarrollo de software y el desafío que representa resolver problemas y crear soluciones eficaces para mejorar la vida de las personas. Estoy emocionado de seguir creciendo como profesional y trabajar en proyectos que tengan un impacto positivo en la sociedad. Muchas gracias por el espacio.</p>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><i class="bi bi-check2-circle me-2"></i>HTML</li>
        <li class="list-group-item"><i class="bi bi-check2-circle me-2"></i>CSS</li>
        <li class="list-group-item"><i class="bi bi-check2-circle me-2"></i>JavaScript</li>
        <li class="list-group-item"><i class="bi bi-check2-circle me-2"></i>Angular</li>
        <li class="list-group-item"><i class="bi bi-check2-circle me-2"></i>React</li>
        <li class="list-group-item"><i class="bi bi-check2-circle me-2"></i>.NET</li>
        <li class="list-group-item"><i class="bi bi-check2-circle me-2"></i>Java</li>
        <li class="list-group-item"><i class="bi bi-check2-circle me-2"></i>MySQL</li>
        <li class="list-group-item"><i class="bi bi-check2-circle me-2"></i>SQL Server</li>
      </ul>
    </div>
  </div>
</div>
