<form [formGroup]="shippersForm" (submit)="onSubmit()" class="form">
  <h2>{{ shipperId ? 'Editar Shipper' : 'Agregar Shipper' }}</h2>
  <div class="mb-3">
    <label for="companyName" class="form-label">Nombre de la Compañia</label>
    <input
    type="text"
    formControlName="companyName"
    id="companyName"
    class="form-control"
    placeholder="Nombre de la compañia"
    [ngClass]="{'is-invalid': shippersForm.get('companyName')?.invalid
    &&
    shippersForm.get('companyName'),'is-valid': shippersForm.get('companyName')?.valid}">
  </div>
  <div *ngIf="shippersForm.get('companyName') && shippersForm.get('companyName')?.errors?.['pattern']" class="alert alert-danger">Solo puede contener letras y espacios</div>
  <div *ngIf="shippersForm.get('companyName') && shippersForm.get('companyName')?.errors?.['maxlength']" class="alert alert-danger">Este campo solo puede tener 40 caracteres</div>
  <div *ngIf="shippersForm.get('companyName')?.touched && shippersForm.get('companyName')?.errors?.['required']" class="alert alert-danger">Campo requerido</div>
  <div class="mb-3">
    <label for="phone" class="form-label">Telefono</label>
    <input
    formControlName="phone"
    id="phone"
    class="form-control"
    placeholder="Telefono de la compañia"
    [ngClass]="{'is-invalid': shippersForm.get('phone')?.invalid
    &&
    shippersForm.get('phone'),'is-valid': shippersForm.get('phone')?.valid}">
  </div>
  <div *ngIf="shippersForm.get('phone') && shippersForm.get('phone')?.errors?.['pattern']" class="alert alert-danger">Debe cumplir con el formato (xxx) xxx-xxxx</div>
  <div>
    <button type="submit" class="btn btn-custom" [disabled]="shippersForm.invalid" *ngIf="shipperId">Editar</button>
    <button type="submit" class="btn btn-custom" [disabled]="shippersForm.invalid" *ngIf="!shipperId">Agregar</button>
  </div>
</form>
