<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card mb-3 custom-card">
        <div class="card-body">
          <h5 class="card-title">Listado de Expedidores</h5>
          <p class="card-text">Haz clic en el botón para ver la lista completa de expedidores disponibles.</p>
          <a [routerLink]="['/shippers']" class="btn btn-custom">Ver Expedidores</a>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card mb-3 custom-card">
        <div class="card-body">
          <h5 class="card-title">Listado de Categorias</h5>
          <p class="card-text">Haz clic en el botón para ver la lista completa de categorias disponibles.</p>
          <a [routerLink]="['/categories']" class="btn btn-custom">Ver Categorias</a>
        </div>
      </div>
    </div>
  </div>
</div>


