<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card mb-3 custom-card">
        <div class="card-body">
          <h5 class="card-title">Listado de Expedidores</h5>
          <p class="card-text">Haz clic en el botón para ver la lista completa de expedidores disponibles.</p>
          <a href="/shippers" class="btn btn-custom">Ver Expedidores</a>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card mb-3 custom-card">
        <div class="card-body">
          <h5 class="card-title">Listado de Categorias</h5>
          <p class="card-text">Haz clic en el botón para ver la lista completa de categorias disponibles.</p>
          <a href="/categories" class="btn btn-custom">Ver Categorias</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container my-5">
  <div class="d-flex justify-content-center">
    <a href="/characters">
      <img class="img-fluid img-hover" src="../../../assets/img/rickymortybanner.png" alt="Imagen rick&morty" id="imagen">
    </a>
  </div>
  <div class="d-flex justify-content-center mt-3">
    <a href="/categories" class="btn btn-rickmorty">Ver API</a>
  </div>
</div>


